@model System.Data.DataTable
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Display Sectors";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    ViewBag.Title = "Display Sectors";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    ViewBag.Title = "Display Sectors";
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
}
}
<script src="~/Scripts/sweetalert.min.js"></script>
@if (TempData["Al"] != null)
{
    <script>
        swal("Deleted!", "Item has been deleted.", "success");
    </script>
    // <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
}
@if (TempData["As"] != null)
{
    <script>
        swal("Modified Successfully!", " ", "success");
    </script>
    // <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
}
@if (TempData["A"] != null)
{
    <script>
        swal("Oops...", "Something went wrong!Not Allowed", "error");
    </script>
    //<strong style="color:green">Saved successfully! </strong>@TempData["Al"]
}
<h2>Display Sectors</h2>
<a href="@Url.Action("SaveSector","Product")">Add Sector</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>ArabicName</th>
        <th>EnglishName</th>
        <th>DescName</th>
        <th>Notes</th>

    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>
                <a href="@Url.Action("EditSector", "Product", new { @id = @Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("DeleteSector", "Product", new { @id = @Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>


