@model System.Data.DataTable
@{
    ViewBag.Title = "DisplayUnits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayUnits</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>ArabicName</th>
        <th>EnglishName</th>
        <th>DescName</th>
        <th>Description</th>
        <th></th>

    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>
                <a href="@Url.Action("EditUnit", "Product", new { @id = @Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("DeleteUnit", "Product", new {@id=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>

<a href="@Url.Action("SaveGroup","Product")">Add Product</a>



