@model System.Data.DataTable
@{
    ViewBag.Title = "DisplayItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/sweetalert.min.js"></script>
@if (TempData["Al"] != null)
{
    <script>
        swal("Deleted!", "Item has been deleted.", "success");
    </script>
    <strong style="color:green">Saved successfully! </strong>@TempData["Al"]

}
@if (TempData["A"] != null)
{
    <script>
        swal("Oops...", "Something went wrong!Not Allowed", "error");
    </script>
    <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
}
<h2>DisplayItems</h2>
<a href="@Url.Action("SaveProduct","Product")">Add Product</a>
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>ArabicName</th>
        <th>EnglishName</th>
        <th>DescName</th>
        <th>Description</th>
        <th>Store</th>
        <th>Group</th>
        <th>Unit</th>
        <th>Purchase Price</th>
        <th>Sale Price</th>
        <th>Quantity</th>
        <th></th>

    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
            <td>@Model.Rows[i][8]</td>
            <td>@Model.Rows[i][9]</td>
            <td>@Model.Rows[i][10]</td>
            <td>
                <a href="@Url.Action("EditItem", "Product", new { @id = @Model.Rows[i][0] })">Edit</a>
                <a href="@Url.Action("DeleteItem", "Product", new {@id=@Model.Rows[i][0] })">Delete</a>
            </td>
        </tr>
    }
</table>


