@model IEnumerable<GroupCode>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>index</h2>
<div class="container" style="width:40%;margin-top:2%">


    <table class="table table-responsive">
        <tr>
            <th>ArabicName</th>
            <th>EnglishName</th>
            <th>DescName</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tbody>
            </table>
    </div>
@if (ViewBag.EmployeeList != null)
            {

                foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArabicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Serial }) |
                @Html.ActionLink("Details", "Detail", new { id = item.Serial }) 
            </td>
        </tr>
    }
}

@*
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-primary" onclick="AddEditEmployee(0)">New</a>


                    <div class="modal fade" id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h3 class="modal-title">AddEdit Employee</h3>
                                </div>
                                <div class="modal-body" id="myModalBodyDiv1">


                                </div>


                            </div>

                        </div>

                    </div>

                    <input type="hidden" id="hiddenEmployeeId" />


                </div>

                <script>


                    var AddEditEmployee=function(Serial){

                        var url="/Product/SaveGroup?Serial="+Serial;

                        $("#myModalBodyDiv1").load(url,function(){
                            $("#myModal1").modal("show");

                        })

                    }
                </script>*@

            @*<div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3 class="modal-title">Delete Employee</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure ? You want to delete this. </h4>

                                <div style="text-align:center;display:none" id="loaderDiv">
                                    <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
                            </div>

                        </div>

                    </div>

                </div>


                @*hidden field for storing current employeeId
           
             <input type="hidden" id="hiddenEmployeeId" />

</div>

<script>

    var ConfirmDelete = function (EmployeeId) {

        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal('show');

    }

    var DeleteEmployee = function () {

        $("#loaderDiv").show();

        var empId = $("#hiddenEmployeeId").val();

        $.ajax({

            type: "POST",
            url: "/Test/DeleteEmployee",
            data: { EmployeeId: empId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + empId).remove();

            }

        })

    }
</script>*@
