@model StoreCode
@{
    ViewBag.Title = "EditStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditStock</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div class="">
            @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "Lab" })

            @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
        </div>
        <div class="">
            @Html.LabelFor(model => model.ArabicName, htmlAttributes: new { @class = "Lab" })

            @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
        </div>

        <div class="">
            @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
        </div>

        <div class="">
            @Html.LabelFor(model => model.DescName, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.NumberOfLeans, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.NumberOfLeans, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.StoreKeeper, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.StoreKeeper, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Phone1, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Phone2, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Phone3, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Phone3, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
<<<<<<< HEAD
    @Html.ActionLink("Back to List", "DisplayUnits")
=======
    @Html.ActionLink("Back to List", "DisplayStocks")
>>>>>>> 694e4ae47ce3c58ec8d8d1adbd4f14409b0a9950
</div>




