@model AKSoft.Models.TownCode
@{
    ViewBag.Title = "Edit Town";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit Town</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ul class="Elements">
        <li class="">
            <label class="Lab">الكود</label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "Txt drop", @placeholder = "" } })
        </li>
        <li class="">
            <label class="Lab">الإسم</label>
            @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @id = "name", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
        </li>
        <li class="">
            <label class="Lab">ملاحظات</label>
            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </li>

        <li class="">
            <button class="save">حفظ</button>
            <a href="@Url.Action("DisplayTowns", "Product")"><input style="background-color:#0bf765" class="save" value="عرض الكل" /></a>
        </li>
    </ul>
}

<div>
    @Html.ActionLink("Back to List", "DisplayTowns")
</div>


