@model AKSoft.Models.ItemCode


@{
    ViewBag.Title = "SaveProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/styl.css" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"> </script>
    <style>
        .Elements {
            background-color: #e5e5e5;
            list-style-type: none;
            border: ridge 1px;
            margin: 0;
            padding: 8px;
        }
        .dr
{
            clear: both;
            display: inline-block;
            height: 26px;
            margin: 0% 0% 1% 6%;
            width:7%;
            font-size: 14px;
            color: #333;
}
                .head
        {
                background-color: #3577ff;
                            font-size:18px;
    width: 40%;
    color: white
        }
    </style>
</head>
<body>
    <h1 class="head save">Add Product</h1>
    @if (TempData["Al"] != null)
    {
        <script>
            swal("Saved successfully!", " ", "success");
        </script>
        <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
    }
    @using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <ul class="Elements">
            <li>
                <label class="Lab dr">Stock</label>
                @Html.DropDownListFor(model => model.StoreID, ViewBag.DepartmentList2 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" }) @*Required DropDownList *@
                <label class="Lab dr">Unit</label>
                @Html.DropDownListFor(model => model.Unit1, ViewBag.DepartmentList1 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" })
                <label class="Lab dr">Category</label>
                @Html.DropDownListFor(model => model.SerialGroup, ViewBag.DepartmentList3 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" })
            </li>
            <li class="">
                @Html.LabelFor(model => model.ArabicName, htmlAttributes: new { @class = "Lab" })

                @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
            </li>

            <li class="">
                @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "Lab" })
                @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
            </li>

            <li class="">
                @Html.LabelFor(model => model.DescName, htmlAttributes: new { @class = "Lab" })
                @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
            </li>
            <li class="">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "Lab" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
            </li>
            <div class="">
                <label class="Lab">Purchase price</label>
                @Html.EditorFor(model => model.PricePurchase1Unit1, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </div>
            <div class="">
                <label class="Lab">Sales price</label>
                @Html.EditorFor(model => model.PriceSale1Unit1, new { htmlAttributes = new { @class = "Txt", @placeholder = "", @required = "required" } })
            </div>
            @*<div class="">
                <label class="Lab">Quantity</label>
                @Html.EditorFor(model => model.Counts, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </div>*@
            <br />
            <div class="">
                <button class="save">Save</button>
                @Html.ActionLink("Show All", "DisplayItems", "", new { htmlAttributes = new { @class = "save", @type = "button" } })
            </div>
        </ul>
    }

</body>
</html>
