@model GroupCode
<link rel="stylesheet" href="~/Content/style.css" />
@{
    ViewBag.Title = "SaveGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}<script src="~/Scripts/sweetalert.min.js"></script>
<h4>ProductModel</h4>
@if (TempData["Al"] != null)
{
    <script>
        swal("Saved successfully!", " ", "success");
    </script>
    <strong style="color:green">Saved successfully! </strong>@TempData["Al"] //Display Word (Successful Done) + name
}
@using (Html.BeginForm("SaveGroup", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="Elements">
        <hr />

        <div class="">
            @Html.LabelFor(model => model.ArabicName, htmlAttributes: new { @class = "Lab" })

            @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
        </div>

        <div class="">
            @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
        </div>

        <div class="">
            @Html.LabelFor(model => model.DescName, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </div>

        <div class="">
            <button class="save">Save</button>
             @Html.ActionLink("Show All", "DisplayCategories", "", new { htmlAttributes = new { @class = "save", @type = "button" } })
        </div>
    </div>
}


