@model ItemCode
@{
    ViewBag.Title = "SaveProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="Elements">
        <h4>ProductModel</h4>
        <hr />

        <div class="">
            @Html.LabelFor(model => model.ArabicName, htmlAttributes: new { @class = "Lab" })

            @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName" } })
        </div>

        <div class="">
            @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
        </div>

        <div class="">
            @Html.LabelFor(model => model.DescName, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </div>
        @Html.DropDownListFor(model => model.StoreID, ViewBag.DepartmentList2 as SelectList, "--select--", new { @class = "form-control" })
        @Html.DropDownListFor(model => model.Unit1, ViewBag.DepartmentList1 as SelectList, "--select--", new { @class = "form-control" })
        @Html.DropDownListFor(model => model.SerialGroup, ViewBag.DepartmentList3 as SelectList, "--select--", new { @class = "form-control" })
        <div class="">
            @Html.LabelFor(model => model.PricePurchase1Unit1, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.PricePurchase1Unit1, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.PriceSale1Unit1, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.PriceSale1Unit1, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </div>
        <div class="">
            @Html.LabelFor(model => model.Counts, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Counts, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
        </div>
        <div>
            <label class="Lab">Purchase price</label>
            <input type="text" class="Txt" placeholder="Purchase price" required>
        </div>
        <div>
            <label class="Lab">Sales price</label>
            <input type="text" class="Txt" placeholder="Sales price">
        </div>
        <div>
            <label class="Lab">Quantity</label>
            <input type="text" class="Txt" placeholder="Quantity" required>
        </div>
        <br />
                <div class="">
            <button class="save">Save</button>
        </div>
    </div>
}

