@model AKSoft.Models.HPurchase
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SaveInvoicePurchase";
}
  if (Convert.ToInt32(Session["Role"]) == 2)
  {
      ViewBag.Title = "SaveInvoicePurchase";
      Layout = "~/Views/Shared/_LayoutUser.cshtml";

  }
  if (Convert.ToInt32(Session["Role"]) == 4)
{ 
    ViewBag.Title = "SaveInvoicePurchase";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/Content/styl.css" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    <style>
        .Elements {
            background-color: #e5e5e5;
            list-style-type: none;
            border: ridge 1px;
            margin: 0;
            padding: 15px;
        }
                .head
        {
                background-color: #3577ff;
                            font-size:18px;
    width: 40%;
    color: white
        }
    </style>
</head>

<body>
    <h1 class="head save">Invoice Purchase</h1>
    @if (TempData["Al"] != null)
    {
        <script>
            swal("Saved successfully!", " ", "success");
        </script>
        <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
    }

    @using (Html.BeginForm("SaveInvoicePurchase", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <ul class="Elements">
        <li class="gs">
        <li class="">
            <label class="Lab">Date</label>
            @Html.EditorFor(model => model.AddUserDate, new { htmlAttributes = new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control Txt drop" } }) @*Required TextBox*@
        </li>
        <li>@ViewBag.c</li>

        <li><h1>@ViewBag.c </h1>
            <label class="Lab">Store</label>
            @Html.DropDownListFor(model => model.StoreSerial, ViewBag.DepartmentList2 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" }) @*Required DropDownList *@
            <label class="Lab">Category</label>
            @Html.DropDownListFor(model => model.GroupSerial, ViewBag.DepartmentList3 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" })
            <label class="Lab">Supplier</label>
            @Html.DropDownListFor(model => model.SupplierSerial, ViewBag.DepartmentList5 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" })
        </li>

        <li>
            <label class="Lab">Product Name</label>
            @Html.DropDownListFor(model => model.ItemSerial, ViewBag.DepartmentList4 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" })

            <label class="Lab">Unit Name</label>
            @Html.DropDownListFor(model => model.UnitSerial, ViewBag.DepartmentList1 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" })
        </li>
        <li>
            <a  onclick="PopupForm('@Url.Action("ItemLastPurchasePrice", "Reports")')"> <label class="Lab">Quantity</label></a>
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "Txt", @placeholder = "Quantity", @id = "txtFirstNo", @onkeyup = "Multiy()", @required = "required" } })
        </li>
        <li>
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "Txt", @placeholder = "Price", @id = "txtSecondNo", @onkeyup = "Multiy()", @required = "required" } }) @*Multiply function in js*@
        </li>
        <li>
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "Lab" })
            @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "Txt", @placeholder = "Total", @id = "txtResult" } })
        </li>
        <li>
            <button class="save">Save</button>
            <a href="@Url.Action("DisplayInvoicePurchase", "Product")"><input style="background-color:#0bf765" class="save" value="Show ALL" /></a>
        </li>
    </ul>

    }
    <script type="text/javascript">
    function Multiy() {
        var txtFirstNo = document.getElementById('txtFirstNo').value;
        var txtSecondNo = document.getElementById('txtSecondNo').value;
        var result = parseFloat(txtFirstNo) * parseFloat(txtSecondNo);//Don't forget the captial in float
        if (!isNaN(result)) {
            document.getElementById('txtResult').value = result;
        }
    }
            var Popup;
       
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
        .done(function (response) {
            formDiv.html(response);

            Popup = formDiv.dialog({
                autoOpen: true,
                resizable: false,
                title: 'Item Last PurchasePrice',
                height: 230,
                width: 370,
                close: function () {
                    Popup.dialog('destroy').remove()
                }

            });
        });
    }
    </script>


</body>
</html>