@model AKSoft.Models.GroupCode
<link rel="stylesheet" href="~/Content/styl.css" />
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Save Group";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    ViewBag.Title = "Save Group";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}
if (Convert.ToInt32(Session["Role"]) == 5)
{
    ViewBag.Title = "Save Group";
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";

}
}
<script src="~/Scripts/sweetalert.min.js"></script>
<h1 class="head save">Add Group</h1>
@if (TempData["Al"] != null)
{
    <script>
        swal("Saved successfully!", " ", "success");
    </script>
    <strong style="color:green">Saved successfully! </strong>@TempData["Al"] //Display Word (Successful Done) + name
}
<style>
    .Elements {
        background-color: #e5e5e5;
        list-style-type: none;
        border: ridge 1px;
        margin: 0;
        padding: 8px;
    }
            .head
        {
               background-color: #3577ff;
                           font-size:18px;
    width: 40%;
    color: white
        }
</style>

@using (Html.BeginForm("SaveGroup", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        <ul class="Elements">
            <li class="">
                  <label class="Lab">Date</label>
                @Html.EditorFor(model => model.AddUserDate, new { htmlAttributes = new { @class = "form-control Txt drop", @Value = @DateTime.Now.ToShortDateString() } }) @*Required TextBox*@
                </li>
                <li class="">
                    @Html.LabelFor(model => model.ArabicName, htmlAttributes: new { @class = "Lab" })

                    @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
                </li>

                <li class="">
                    @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "Lab" })
                    @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
                </li>

                <li class="">
                    @Html.LabelFor(model => model.DescName, htmlAttributes: new { @class = "Lab" })
                    @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
                </li>
                <li class="">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "Lab" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
                </li>

                <li class="">
                    <button class="save">Save</button>
                    <a style="background-color:#0bf765" class="save" href="@Url.Action("DisplayCategories", "Product")">Show ALL</a>
                </li>
            </ul>
}


