@model AKSoft.Models.SupplierCode
@{if (Convert.ToInt32(Session["Role"]) == 1)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Save Supplier";
}
if (Convert.ToInt32(Session["Role"]) == 4)
{
    ViewBag.Title = "Save Supplier";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveCustomer</title>
    <link rel="stylesheet" href="~/Css/style.css" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"> </script>
    <style>
        .Elements {
            background-color: #e5e5e5;
            list-style-type: none;
            border: ridge 1px;
            margin: 0;
            padding: 15px;
        }

        .head {
            background-color: #3577ff;
            width: 40%;
            color: white;
            font-size:18px;
        }
    </style>
</head>
<body>
    <h1 class="head save">Save Supplier</h1>
    @if (TempData["Al"] != null)
    {
        <script>
            swal("Saved successfully!", " ", "success");
        </script>
        <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
    }
    @using (Html.BeginForm("SaveSupplier", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <ul class="Elements">
            <li class="">
                <label class="Lab">Date</label>
                @Html.EditorFor(model => model.AddUserDate, new { htmlAttributes = new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control Txt drop" } }) @*Required TextBox*@
            </li>
            <li class="">
                <label class="Lab">ArabicName</label>
                @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt", @placeholder = "ArabicName", @required = "required" } }) @*Required TextBox*@
                <label class="Lab">EnglishName</label>
                @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
            </li>

            <li class="">
                <label class="Lab">DescName</label>
                @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
            </li>
            <li class="">
                <label class="Lab">Notes</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </li>
            <li class="">
                <label class="Lab">Address1</label>
                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
                <label class="Lab">Address2</label>
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </li>
            <li class="">
                <label class="Lab">Telephone1</label>
                @Html.EditorFor(model => model.Telephone1, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
                <label class="Lab">Telephone2</label>
                @Html.EditorFor(model => model.Telephone2, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
                <label class="Lab">Telephone3</label>
                @Html.EditorFor(model => model.Telephone3, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </li>
            <li class="">
                <label class="Lab">Country</label>
                @Html.DropDownListFor(model => model.CountrySerial, ViewBag.DepartmentList1 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" }) @*Required DropDownList *@
                <label class="Lab">Town</label>
                @Html.DropDownListFor(model => model.TownSerial, ViewBag.DepartmentList2 as SelectList, "--select--", new { @class = "Txt drop", @required = "required" }) @*Required DropDownList *@
            </li>
            <li class="">
                <label class="Lab">E-mail</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </li>
            <li class="">
                <label class="Lab">Website</label>
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "Txt", @placeholder = "" } })
            </li>
            <li class="">
                <button class="save">Save</button>
                <a href="@Url.Action("DisplaySuppliers", "Product")"><input style="background-color:#0bf765" class="save" value="Show ALL" /></a>
                        </li>
        </ul>
    }

</body>
</html>
