@model UnitCode

@{
    ViewBag.Title = "SaveUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/style.css" />
    <script src="~/Scripts/sweetalert.min.js"></script>@*Library for sweety message*@
    <script type="text/javascript" src="~/Scripts/main.js"> </script>
</head>
<body> 
    <h4>ProductModel</h4>
    @if (TempData["Al"] != null)
    {
        <script>
            swal("Saved successfully!", " ", "success");
        </script>
        <strong style="color:green">Saved successfully! </strong>@TempData["Al"]
    }
     @using (Html.BeginForm("SaveUnit", "Product", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="Elements">
            <hr />

            <div class="">
                @Html.LabelFor(model => model.ArabicName, htmlAttributes: new { @class = "Lab" })

                @Html.EditorFor(model => model.ArabicName, new { htmlAttributes = new { @class = "Txt",@id="name", @placeholder = "ArabicName", @required = "required"} }) @*Required TextBox*@
            </div>

            <div class="">
                @Html.LabelFor(model => model.EnglishName, htmlAttributes: new { @class = "Lab" })
                @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "Txt", @placeholder = "EnglishName" } })
            </div>

            <div class="">
                @Html.LabelFor(model => model.DescName, htmlAttributes: new { @class = "Lab" })
                @Html.EditorFor(model => model.DescName, new { htmlAttributes = new { @class = "Txt", @placeholder = "Title" } })
            </div>
            <div class="">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "Lab" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Txt", @placeholder = "Description" } })
            </div>

            <div class="">
                <button class="save" >Save</button>
                @Html.ActionLink("Show All", "DisplayUnits", "", new { htmlAttributes = new { @class = "save", @type = "button" } })
            </div>
        </div>
    }
    </body>
</html>




