@model System.Data.DataTable
@{
    ViewBag.Title = "بيانات المستخدمين";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>بيانات المستخدمين</h2>
<a href="@Url.Action("AddUser", "Product")">إضافة مستخدم</a>
@using (Html.BeginForm("UsersData", "Reports", FormMethod.Post))
    {
    <span>User Name:</span> @Html.TextBox("CustomerName")
    <input type="submit" value="Search" />
    <br />
    <br />
<table class="table table-bordered table-striped">
    <tr>
        <th>كود المستخدم</th>
        <th>الإسم الأول</th>
        <th>الإسم الأوسط</th>
        <th>إسم العائله</th>
        <th>البريد الإلكتروني</th>
        <th>الصلاحيه</th>
        <th>الفرع</th>
        <th>القطاع</th>
    </tr>

@foreach (AKSoft.Models.UsersData customer in Model)
    {
        <tr>
            <td>@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
        </tr>
    }
</table>


